# Project Title: 
Telecommunications Customer Churn Prediction Analysis

# Business Understanding

## 1. Introduction
This project aims to assist a telecom company in understanding their data and predicting customer churn. The company has provided access to three different datasets: the first dataset with 3000 records stored in a remote Microsoft SQL Server database, the second dataset with 2000 records stored on OneDrive, and the third dataset hosted on a GitHub repository.

### 1.1. Objectives
Understand the data: Our first objective is to provide insights into the telecom company's data, including customer demographics, services availed, and payment details. This understanding will enable the company to make informed business decisions.

Find the lifetime value of each customer: By analyzing the data, we aim to identify factors that influence the rate at which customers churn. Understanding customer behavior and identifying key predictors will help the telecom company estimate the lifetime value of each customer.

Predict customer churn: The primary objective is to develop a predictive model that accurately determines whether a customer is likely to churn or not. We will employ machine learning algorithms such as logistic regression, decision trees, support vector machines, random forest, etc., to build a model that effectively predicts customer churn.

### 1.2. Methodology
To achieve our objectives, we will follow the CRISP-DM framework, which consists of the following steps:

Data exploration: We will thoroughly explore the datasets to gain insights into the available variables, their distributions, and relationships. This step will provide us with an initial understanding of the data and help identify any data quality issues.

Missing value computations: We will identify missing values in the datasets and decide on an appropriate strategy for handling them. This may involve imputing missing values or removing data points with missing values.

Feature engineering: We will perform feature engineering to transform and create new variables that can potentially improve the predictive power of our models. This step may include encoding categorical variables, scaling numerical variables, or creating interaction terms.

Model development: We will utilize various machine learning algorithms such as logistic regression, decision trees, support vector machines, random forest, etc., to develop predictive models for customer churn. We will train the models on a subset of the data and evaluate their performance using appropriate metrics.

Model evaluation and interpretation: We will evaluate the trained models using evaluation metrics such as accuracy, precision, recall, and F1-score. Additionally, we will interpret the models to understand the factors driving customer churn and their relative importance.

Model optimization and hyperparameter tuning: We will fine-tune the models by optimizing their hyperparameters to improve their performance. This step may involve techniques like grid search or random search to find the optimal combination of hyperparameters.

By following this methodology, we aim to provide valuable insights to the telecom company and develop a reliable predictive model for customer churn.

# Load Datasets

## Installations

In [1]:
# %pip install pyodbc
# %pip install openpyxl

## Load first dataset from SQL database

In [2]:
# Import necessary libraries
import pyodbc
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Establish a connection
server = 'dap-projects-database.database.windows.net'
database = 'dapDB'
username = 'dataAnalyst_LP2'
password = 'A3g@3kR$2y'

# Create the connection string using the ODBC driver format
conn_str = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

# Establish the connection using the connection string
conn = pyodbc.connect(conn_str)

In [4]:
# Query the database to retrieve the data
query = 'SELECT TOP 3000 * FROM LP2_Telco_churn_first_3000'
df_db = pd.read_sql(query, conn)

In [5]:
# Close connection
conn.close()

In [6]:
# Display the dataframe
df_db.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [7]:
# Display the dataframe
df_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

## Load second dataset (excelfile)

In [8]:
# Read the excel file into a pandas dataframe
df_excel = pd.read_excel('Telco-churn-second-2000.xlsx')

# Display the dataframe
df_excel.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,2640-PMGFL,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,3801-HMYNL,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15

In [9]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

## Load third dataset (csv file)

In [10]:
# Read third dataset
df_csv = pd.read_csv('LP2_Telco-churn-last-2000.csv')

# Display the dataframe
df_csv.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

## Organize the Datasets into Train and Test

### Train Dataset

In [11]:
# Train data is the 1st Dataset from the SQL Server and the 3rd Dataset from the CSV file.
# Concat the two files into 1 dataset
train_df = pd.concat([df_db, df_csv])
train_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.85,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.5,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.75,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [12]:
# Save the train dataset in a new csv file
train_df.to_csv('Train_Data.csv')

### Test Dataset

In [13]:
# The Test dataset is the 2nd Dataset from the Excel File 
test_df = df_excel

# Questions and Hypothesis

## Hypothesis

H0: The churn rate of customers in the telecom company is not significantly influenced by various factors related to their 
demographics, services, and payment methods.

H1: The churn rate of customers in the telecom company is influenced by various factors related to their demographics, services, and payment methods.

## Questions
1. Is there a relationship between the monthly charges and the likelihood of churn?
2. Do customers who have internet service, specifically fiber optic, exhibit a higher churn rate compared to those with DSL or no internet service?
3. Does the availability of online security, online backup, device protection, and tech support impact the churn rate?
4. How does the churn rate vary based on the customers' gender?
5. Does the presence of a partner influence the likelihood of churn?
6. Is there a correlation between the tenure of customers and their churn rate?

# Data Exploration

### Explore The Train and Test Datasets

#### a. Column Information of The Datasets

In [14]:
# Train Dataset Column information
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   object
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     4774 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    4392 non-null   object
 10  OnlineBackup      4392 non-null   object
 11  DeviceProtection  4392 non-null   object
 12  TechSupport       4392 non-null   object
 13  StreamingTV       4392 non-null   object
 14  StreamingMovies   4392 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5038 non-null   object
 20  Churn             5042 non-null   object
dtypes: float64(1), int64(1), object(19)
memory usage: 866.8+ KB

In [15]:
# Test Dataset Column information
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

The train dataset has 5043 rows (entries), while the test dataset has 2000 rows. Several columns in both datasets contain missing values. 

The 'SeniorCitizens' column in the test dataset is an object while in the train dataset it is an integer.

The 'TotalCharges' column in each dataset represents the total charges for each customer which represents a numeric data type but it is presented as one with object (string) values.

As expected, the test dataset does not have the "Churn" column. This column is not needed because 'Churn' is the variable we want to predict. The goal is to use the trained model to predict whether customers in the test data will churn or not based on the other available features.

#### b. The Shape of The Datasets

In [16]:
# Check the shape of the train dataframe
train_df.shape

(5043, 21)

In [17]:
# Check the shape of the test dataframe
test_df.shape

(2000, 20)

The shape of the train dataframe is (5043, 21), indicating that it has 5043 rows and 21 columns.
The shape of the test dataframe is (2000, 20), indicating that it has 2000 rows and 20 columns.

These shapes confirm the differences noted earlier, where the train dataframe has more rows and one additional column compared to the test dataframe.

#### c. The Unique Values of The Datasets

In [18]:
# check unique values of each column
for column in train_df.columns:
    print('Column: {} - Unique Values: {}'.format(column, train_df[column].unique()))
    print('==='*15)

Column: customerID - Unique Values: ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
=============================================
Column: gender - Unique Values: ['Female' 'Male']
=============================================
Column: SeniorCitizen - Unique Values: [False True]
=============================================
Column: Partner - Unique Values: [True False 'No' 'Yes']
=============================================
Column: Dependents - Unique Values: [False True 'No' 'Yes']
=============================================
Column: tenure - Unique Values: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
=============================================
Column: PhoneService - Unique Values: [False True 'Yes' 'No']
=============================================
Column: MultipleLines - Unique Values: [None False True 'No' 'No phone service' 'Yes']
=============================================
Column: InternetService - Unique Values: ['DSL' 'Fiber optic' 'No']
=============================================
Column: OnlineSecurity - Unique Values: [False True None 'No' 'Yes' 'No internet service']
=============================================
Column: OnlineBackup - Unique Values: [True False None 'No' 'Yes' 'No internet service']
=============================================
Column: DeviceProtection - Unique Values: [False True None 'No' 'Yes' 'No internet service']
=============================================
Column: TechSupport - Unique Values: [False True None 'Yes' 'No' 'No internet service']
=============================================
Column: StreamingTV - Unique Values: [False True None 'No' 'Yes' 'No internet service']
=============================================
Column: StreamingMovies - Unique Values: [False True None 'No' 'Yes' 'No internet service']
=============================================
Column: Contract - Unique Values: ['Month-to-month' 'One year' 'Two year']
=============================================
Column: PaperlessBilling - Unique Values: [True False 'Yes' 'No']
=============================================
Column: PaymentMethod - Unique Values: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
=============================================
Column: MonthlyCharges - Unique Values: [ 29.85000038  56.95000076  53.84999847 ...  78.7         60.65
 103.2       ]
=============================================
Column: TotalCharges - Unique Values: [29.850000381469727 1889.5 108.1500015258789 ... '346.45' '306.6' '6844.5']
=============================================
Column: Churn - Unique Values: [False True None 'No' 'Yes']
=============================================

In [19]:
# check unique values of each column
for column in test_df.columns:
    print('Column: {} - Unique Values: {}'.format(column, test_df[column].unique()))
    print('==='*15)

Column: customerID - Unique Values: ['7613-LLQFO' '4568-TTZRT' '9513-DXHDA' ... '4816-JBHOV' '8920-NAVAY'
 '1699-TLDLZ']
=============================================
Column: gender - Unique Values: ['Male' 'Female']
=============================================
Column: SeniorCitizen - Unique Values: [0 1]
=============================================
Column: Partner - Unique Values: ['No' 'Yes']
=============================================
Column: Dependents - Unique Values: ['No' 'Yes']
=============================================
Column: tenure - Unique Values: [12  9 27  1 24 14 32 11 38 54 29 44 59  3 18 67 22 33  5  2 72 16  8 23
 50 17 68 25 71 46 48 61 37 65 49 64 21 10  6 51 47 52 35 45  4 60 28 39
 30 55 58 26 43 56 36 13 70 69 41 15 19 31 34 66 40  7 53 63 42  0 57 62
 20]
=============================================
Column: PhoneService - Unique Values: ['Yes' 'No']
=============================================
Column: MultipleLines - Unique Values: ['Yes' 'No' 'No phone service']
=============================================
Column: InternetService - Unique Values: ['Fiber optic' 'No' 'DSL']
=============================================
Column: OnlineSecurity - Unique Values: ['No' 'No internet service' 'Yes']
=============================================
Column: OnlineBackup - Unique Values: ['No' 'No internet service' 'Yes']
=============================================
Column: DeviceProtection - Unique Values: ['No' 'No internet service' 'Yes']
=============================================
Column: TechSupport - Unique Values: ['No' 'No internet service' 'Yes']
=============================================
Column: StreamingTV - Unique Values: ['Yes' 'No internet service' 'No']
=============================================
Column: StreamingMovies - Unique Values: ['No' 'No internet service' 'Yes']
=============================================
Column: Contract - Unique Values: ['Month-to-month' 'One year' 'Two year']
=============================================
Column: PaperlessBilling - Unique Values: ['Yes' 'No']
=============================================
Column: PaymentMethod - Unique Values: ['Electronic check' 'Mailed check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
=============================================
Column: MonthlyCharges - Unique Values: [ 84.45  20.4   81.7   79.5   89.15  20.3   74.95  74.4   20.    25.
  80.45  19.75  65.65  71.    89.2   86.75  55.3   61.5   25.1   55.15
  34.05  19.95  89.7   26.3   84.95  20.7   43.25  48.35  79.55  71.05
  19.45 110.8   84.5   69.3   49.35  20.35 105.6   64.45 108.6   49.9
  30.3   30.4   45.4  103.3   84.15  44.45  85.4   89.9   55.05 104.1
 106.6   75.2   70.5   19.6   55.85  24.05  38.1  106.4   34.25 100.05
  68.65  45.8   75.75  84.4   96.4   20.55  50.95  90.5   79.4   58.75
  59.45 105.7   56.25  53.3   85.55  24.3   77.85  59.9   23.95  20.15
 105.35  95.65  87.05  81.    82.45  53.5   20.5   54.4   58.6   84.8
  61.4   79.65  94.45  79.8   54.2   74.05  49.15  19.4  113.65 106.
  25.95  19.1  103.4  100.55  95.4   75.15 107.9   19.5   85.95  24.95
  59.4   69.95  82.85  19.    38.85  30.6   95.    78.45  74.3   51.05
  19.2   99.55  70.   109.1   45.3   29.85  76.45  95.1   19.8   72.8
  18.95  76.65  99.15 101.75  75.45  64.1   25.65  75.1   95.85  72.75
  19.85  19.05  44.95  49.55  94.85  46.25  19.35  69.6   90.7  101.4
  20.25  48.8   74.35  68.75 100.2   20.85  95.9   45.    81.5   25.5
  48.9   84.1   81.3   95.2   36.45  83.3   25.05  89.85  49.85  54.65
  29.35  19.15  55.55  80.55  69.5  104.3   79.6   55.25  88.05 117.6
  19.65  70.55  93.85  65.8   20.05  80.    35.4   80.25  50.45  20.45
  24.7   77.3   29.75  44.9   29.8   74.65  71.95  20.75  56.3  105.25
  94.2   19.55  53.65  29.9   19.7   43.7   49.45 106.55  20.1   39.7
  54.5   83.8  111.6   86.65 106.75  62.1  104.5  101.8  110.6   84.9
  93.2   24.4   85.    87.45  85.8   91.1   70.75  74.8   24.8  100.85
 101.35  68.25 105.1   79.15  57.2   94.8  102.5   69.2   95.45 100.95
  88.5   35.    64.    69.1   80.2   49.3   84.35 117.2  103.45  77.95
 109.95  94.75  25.2   19.9   44.8   80.05 107.35  47.85  70.8   29.5
  59.1   25.55  75.55  85.65  70.15  95.3   70.25  50.3   97.8   46.3
 106.3   75.35  89.4   88.    83.15  43.8   62.05  74.15  84.05  20.9
 105.9   99.5   44.15  53.9   85.45  85.05  44.1   90.2   50.85  59.2
  53.45  83.2   54.9   57.5  103.9   93.8   89.25  94.15  55.6   48.7
  19.25 104.9   54.85  19.3   79.85  75.5   73.75  96.05  68.4   20.65
  70.6  107.6   61.55  99.25  91.7  100.7   84.3   88.95  86.8   20.95
  50.7   53.4  101.9   59.5   87.8   41.9   83.    69.85 109.55  92.15
  97.    58.35  50.6   89.5   70.4   69.8   94.3   95.95 101.05 107.75
  54.6   71.3   94.7  104.15  90.55  60.8   98.8   98.15  35.35 103.15
  81.4   61.45  95.7  104.8   70.95  97.65  35.65  85.25  88.8   55.7
  85.2   91.15  83.85  45.9   91.4   91.5   51.3   21.1  104.75 106.15
  85.75 100.75  78.55  77.8   83.45  73.25  90.1   29.2   46.6   85.35
  54.   104.25  84.75  75.25  24.6   55.5   43.3  109.5   84.85 112.1
  95.05  50.35  74.6   74.2   69.   105.2  109.2   45.15 108.65  40.65
  55.35  90.05  68.05  96.2  102.1   23.4   92.2   43.9   80.5   89.8
  90.45  50.75  84.6   89.65  51.7   23.3   65.4   65.1   81.2   72.9
  74.5   60.3   75.    90.15  40.    99.45  69.05  59.7   86.25  45.65
  70.1   40.75  70.2   84.2   66.15  45.85  49.8  103.95 100.15  99.65
  73.7   50.05  60.25 105.75  87.3   54.25  85.3   50.    90.95  72.25
  96.1   25.15  71.25 113.8   24.55  50.15 100.5   74.45  81.9   69.7
  25.35  24.65  25.25  60.    24.1  109.9   35.5   87.55  88.4   50.8
  99.    96.55  59.75 111.5   24.25  30.55 101.   100.    98.05  71.15
  54.15  63.9   69.15  64.65 108.75  98.85  89.6   83.25  24.5   73.
  80.4   78.5  102.    48.95  18.25  54.55  89.05  96.6   77.15  35.05
 108.1   20.2   49.2   71.65 106.5   94.25  68.95  58.5   78.9   79.2
 109.45  29.15  76.05  24.45  66.5   89.35  73.6   82.65  49.    80.35
  25.45  55.8  110.9   77.75  26.2   79.05  80.85  98.4   56.35  50.4
 109.75  91.25  54.75  81.45  49.1  100.3   65.25  94.1   73.55 104.65
  44.55  54.45 105.    88.7   74.25  30.75 112.9   94.05  78.85  78.65
  74.75 105.65  96.5   70.85  73.9   45.45 109.65  65.   114.1   86.95
 105.45  25.4  102.55  24.    25.6   73.5   98.25 101.55 103.1   34.2
  43.75 111.95 100.65  55.95 116.05  45.75  82.    65.15  88.85 106.85
  80.15 109.25  56.1  118.6   24.15 115.5  111.3   80.6   20.8   35.2
  78.8   89.95  49.4  115.25  81.25  93.55  86.4   66.3   94.65  82.05
  72.1   34.7  109.4   40.25  42.9   44.    88.9   57.65 108.05 105.3
 102.6   73.85  61.35  57.55  29.25  84.55 111.75 107.7   63.7   24.75
  50.9   60.4   79.25 110.1   25.3   24.35  76.5   81.15  38.5   92.9
  93.5   84.7   66.   101.5   74.9   99.75  67.8   25.7   56.15  86.7
  50.55  54.35  45.35  59.    69.45  64.95  18.85 114.3   45.05  51.
 110.45  84.65  60.05  44.65  93.25  20.6   34.8   60.75  51.35  64.05
  94.6  100.25  98.9   97.7   40.3   46.2   24.9   65.7   63.35  50.1
  74.    38.9   65.45  98.7   99.35  95.8   67.5   78.15  26.1   78.05
  40.35  68.9   76.    82.3   29.45  59.15  44.75  90.8  106.7   67.95
  77.4   99.7   78.95  95.55  62.85  71.55  94.95  86.1   39.3   36.25
  23.9   98.6  103.65  99.9   39.85  60.5  103.85  24.85  89.    55.
  76.15 117.35  45.2   89.75  49.95  67.05  87.95  75.7   62.15 101.25
 115.15  86.55  28.6   56.4   73.3   98.65  33.6   79.9  104.05  70.05
  23.05  59.95  78.6  116.8   43.55  65.2  102.95  90.6  108.2   92.
 112.2   70.3   75.85  80.65  68.5  115.75  59.55  36.1   94.    61.15
 110.2  106.35  65.9   52.5   88.75  75.3   26.    99.4   73.15  66.4
 115.55 104.45  92.4   25.75  49.6   97.05 105.95  91.85  40.1  110.3
  85.15  60.95  46.    58.55  86.35  69.75  65.6   82.1   79.1   90.65
 110.    67.45  89.1   69.9   51.1   94.4   78.25  76.4   48.65  59.85
  80.3   91.8   18.8   64.75  89.45  85.6   54.1   80.9   90.85  48.75
  79.7  100.4   57.95  86.5   62.45  89.55  83.55  71.45  46.35  66.1
  75.4   70.45  21.05  69.35  40.55  75.65  60.6  101.15  98.   104.7
  93.9   86.45  98.5   78.2   88.45  69.55  83.75  98.1   53.35  69.4
  40.15  70.35  53.85 115.6   97.95  78.3   96.8   77.35  66.05  68.15
  92.45  45.55  93.4   88.15  79.35  79.75 105.15  79.3  105.5   92.7
  26.25  96.95 115.8   67.75  90.35  55.75 114.6   66.8  104.85  74.1
 118.75  85.9  101.3   21.2   24.2  102.8   99.95 115.85  35.1   99.1
  67.25  55.1  117.8   45.25  95.35 116.6   65.05  92.5   18.75  93.6
 104.4   70.7  108.95  26.45  86.2   51.2   75.8   36.15  61.2   99.85
  58.4   88.3  108.9  107.4  106.65 104.35  55.45  61.3   96.85 108.25
 105.05  66.9  110.7   38.25  54.95  79.    39.1  100.45  39.55  23.15
  72.45  60.1   91.55  35.8  113.15  53.95  99.3   51.55  78.75  54.7
  71.1  106.25 114.05 116.15  66.25  99.8   90.    54.05  97.25  83.05
  41.1   74.55  40.2   78.35 109.7   33.45  39.4   76.25  46.4   59.6
 108.5   58.95  63.05  64.4   83.9  117.45  59.05  76.55  62.5   29.4
  94.9  111.65 106.05 113.45  92.55  49.7   30.2   85.7   74.7  107.55
  23.85  76.1   39.2   39.15  59.8   49.75  35.75  60.15  84.   110.75
  76.35  18.9   98.35  91.65  44.35  47.95  63.6   53.    36.85 103.75
  56.75  59.65  45.5  106.45  30.05  44.7 ]
=============================================
Column: TotalCharges - Unique Values: [1059.55 181.8 2212.55 ... 552.95 7053.35 301.55]
=============================================

There are some differences between the unique values in the train_df and test_df datasets:
i. 'SeniorCitizen' column: The train_df dataset has boolean values (False and True), while the test_df dataset has numeric values (0 and 1).
ii. 'Partner and Dependents' columns: In the train_df dataset, this column contain boolean  (True and False) and string values (Yes and No), while in the test_df dataset, they contain categorical values (Yes and No).

iii. 'PhoneService' column: In the train_df dataset, these columns contain boolean  (True and False) and and string values (Yes and No), while in the test_df dataset, it contains categorical values (Yes and No).

iv. 'MultipleLines' column: In the train_df dataset, this column contains boolean values (False and True) and string values (No, Yes, No phone service), while in the test_df dataset, it contains categorical values (Yes, No, and No phone service).

v. 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection','TechSupport', 'StreamingTV', 'StreamingMovies'  columns: The training data in these columns contains a mix of boolean (True and False)  and string values (No, Yes, No phone service), while the test data only has the string values (No, Yes, No internet service). 

vi. 'PaperlessBilling' column: The training data has boolean values (True and False) and additional string values ('Yes', 'No') compared to the test data which only has string values ('Yes', 'No').

vii. 'PaymentMethod' column: Some values contain in parenthesis the word 'automatic'. These denominations are too long to be used as tick labels in visualizations.

viii. 'Churn' column: The train_df dataset has boolean values (False and True) and categorical values (None, No, and Yes) in the 'Churn' column. The test_df dataset does not have a 'Churn' column as explained earlier.

#### d. The Summary Statistics of The Datasets

In [20]:
# Summary statistics of train_db to get insights into the distribution and basic characteristics of the numerical variables
train_df.describe()

            tenure  MonthlyCharges
count  5043.000000     5043.000000
mean     32.576641       65.090214
std      24.529807       30.068133
min       0.000000       18.400000
25%       9.000000       35.775000
50%      29.000000       70.550003
75%      56.000000       90.050003
max      72.000000      118.650002

Tenure: The customers' tenure (in months) ranges from 0 to 72. The average tenure is approximately 32.6 months, with a standard deviation of 24.5 months. The median (50th percentile) tenure is 29 months.

Monthly Charges: The monthly charges range from $18.40 to $118.65. The average monthly charge is approximately $65.09, with a standard deviation of $30.07. The median (50th percentile) monthly charge is $70.55.

In [21]:
# Summary statistics of test_df to get insights into the distribution and basic characteristics of the numerical variables
test_df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    2000.000000  2000.000000     2000.000000
mean        0.161500    31.853000       63.933325
std         0.368084    24.632677       30.136858
min         0.000000     0.000000       18.250000
25%         0.000000     8.000000       34.250000
50%         0.000000    27.000000       69.800000
75%         0.000000    55.000000       89.275000
max         1.000000    72.000000      118.750000

Senior Citizen: The proportion of senior citizens in the test dataset is approximately 16.15% (mean of 0.1615). This is indicated by the binary variable "SeniorCitizen," which takes the value 1 for senior citizens and 0 for non-senior citizens.

Tenure: The customers' tenure (in months) ranges from 0 to 72, similar to the training dataset. The average tenure is approximately 31.85 months, with a standard deviation of 24.63 months. The median (50th percentile) tenure is 27 months.

Monthly Charges: The monthly charges range from $18.25 to $118.75, similar to the training dataset. The average monthly charge is approximately $63.93, with a standard deviation of $30.14. The median (50th percentile) monthly charge is $69.80.

#### e. Checking for Missing Values in The Datasets

In [22]:
# Handling missing values
train_df.isnull().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

These columns have a varying number of missing values, with 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', and 'StreamingMovies' having the same count of 651 missing values. Additionally, the 'TotalCharges' column has 5 missing values, and the 'Churn' column has 1 missing value.

In [23]:
# Handling missing values
test_df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

The test dataset has no missing values

#### f. Checking for Duplicate Values of The Datasets

In [24]:
# Checking for duplicates in train_df
train_duplicates = train_df.duplicated().sum()
train_duplicates

0

There are no duplicates in the train dataset

In [25]:
# Checking for duplicates in test_df
test_duplicates = test_df.duplicated().sum()
test_duplicates

0

There are no duplicates in both datasets

# Data Cleaning

In [26]:
# Handling the issues we identified earlier during data exploration

## a. Dropping Unwanted Columns

In [27]:
#The customerID column has no use in explaining whether or not the customer will churn.
# drop the customerID column from the train dataset
train_df.drop(columns='customerID', inplace=True)
train_df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [28]:
# drop the customerID column from the train dataset
test_df.drop(columns='customerID', inplace=True)
test_df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges'],
      dtype='object')

## b. Data Transformation

### i. Standardizing the 'SeniorCitizen' Column

In [29]:
# Standardize 'SeniorCitizen' column
train_df['SeniorCitizen'] = train_df['SeniorCitizen'].replace({False: 0, True: 1}).astype(int)

# Standardize 'Partner' and 'Dependents' columns
train_df['Partner'] = train_df['Partner'].replace({False: 'No', True: 'Yes'})
train_df['Dependents'] = train_df['Dependents'].replace({False: 'No', True: 'Yes'})

# Standardize 'PhoneService' column
train_df['PhoneService'] = train_df['PhoneService'].replace({False: 'No', True: 'Yes'})

# Standardize 'MultipleLines' column
train_df['MultipleLines'] = train_df['MultipleLines'].replace({False: 'No', True: 'Yes', 'No phone service': 'No', None: 'No'})
test_df['MultipleLines'] = test_df['MultipleLines'].replace({False: 'No', True: 'Yes', 'No phone service': 'No', None: 'No'})

# Standardize 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies' columns
# Train dataset
train_df['OnlineSecurity'] = train_df['OnlineSecurity'].replace({False: 'No', True: 'Yes', 'No internet service': 'No', None: 'No' })
train_df['OnlineBackup'] = train_df['OnlineBackup'].replace({False: 'No', True: 'Yes', 'No internet service': 'No',  None: 'No'})
train_df['DeviceProtection'] = train_df['DeviceProtection'].replace({False: 'No', True: 'Yes', 'No internet service': 'No',  None: 'No'})
train_df['TechSupport'] = train_df['TechSupport'].replace({False: 'No', True: 'Yes', 'No internet service': 'No',  None: 'No'})
train_df['StreamingTV'] = train_df['StreamingTV'].replace({False: 'No', True: 'Yes', 'No internet service': 'No',  None: 'No'})
train_df['StreamingMovies'] = train_df['StreamingMovies'].replace({False: 'No', True: 'Yes', 'No internet service': 'No',  None: 'No'})


# Test dataset
test_df['OnlineSecurity'] = test_df['OnlineSecurity'].replace({False: 'No', True: 'Yes', 'No internet service': 'No', None: 'No'})
test_df['OnlineBackup'] = test_df['OnlineBackup'].replace({False: 'No', True: 'Yes', 'No internet service': 'No', None: 'No'})
test_df['DeviceProtection'] = test_df['DeviceProtection'].replace({False: 'No', True: 'Yes', 'No internet service': 'No', None: 'No'})
test_df['TechSupport'] = test_df['TechSupport'].replace({False: 'No', True: 'Yes', 'No internet service': 'No', None: 'No'})
test_df['StreamingTV'] = test_df['StreamingTV'].replace({False: 'No', True: 'Yes', 'No internet service': 'No', None: 'No'})
test_df['StreamingMovies'] = test_df['StreamingMovies'].replace({False: 'No', True: 'Yes', 'No internet service': 'No', None: 'No'})

# Standardize 'PaperlessBilling' column
train_df['PaperlessBilling'] = train_df['PaperlessBilling'].replace({False: 'No', True: 'Yes'})


train_df['Churn'] = train_df['Churn'].replace({'No': False, None: False, 'Yes': True})

In [30]:
# check unique values of each column
for column in train_df.columns:
    print('Column: {} - Unique Values: {}'.format(column, train_df[column].unique()))
    print('==='*15)

Column: gender - Unique Values: ['Female' 'Male']
=============================================
Column: SeniorCitizen - Unique Values: [0 1]
=============================================
Column: Partner - Unique Values: ['Yes' 'No']
=============================================
Column: Dependents - Unique Values: ['No' 'Yes']
=============================================
Column: tenure - Unique Values: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
=============================================
Column: PhoneService - Unique Values: ['No' 'Yes']
=============================================
Column: MultipleLines - Unique Values: ['No' 'Yes']
=============================================
Column: InternetService - Unique Values: ['DSL' 'Fiber optic' 'No']
=============================================
Column: OnlineSecurity - Unique Values: ['No' 'Yes']
=============================================
Column: OnlineBackup - Unique Values: ['Yes' 'No']
=============================================
Column: DeviceProtection - Unique Values: ['No' 'Yes']
=============================================
Column: TechSupport - Unique Values: ['No' 'Yes']
=============================================
Column: StreamingTV - Unique Values: ['No' 'Yes']
=============================================
Column: StreamingMovies - Unique Values: ['No' 'Yes']
=============================================
Column: Contract - Unique Values: ['Month-to-month' 'One year' 'Two year']
=============================================
Column: PaperlessBilling - Unique Values: ['Yes' 'No']
=============================================
Column: PaymentMethod - Unique Values: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
=============================================
Column: MonthlyCharges - Unique Values: [ 29.85000038  56.95000076  53.84999847 ...  78.7         60.65
 103.2       ]
=============================================
Column: TotalCharges - Unique Values: [29.850000381469727 1889.5 108.1500015258789 ... '346.45' '306.6' '6844.5']
=============================================
Column: Churn - Unique Values: [False  True]
=============================================

In [31]:
# check unique values of each column
for column in test_df.columns:
    print('Column: {} - Unique Values: {}'.format(column, test_df[column].unique()))
    print('==='*15)

Column: gender - Unique Values: ['Male' 'Female']
=============================================
Column: SeniorCitizen - Unique Values: [0 1]
=============================================
Column: Partner - Unique Values: ['No' 'Yes']
=============================================
Column: Dependents - Unique Values: ['No' 'Yes']
=============================================
Column: tenure - Unique Values: [12  9 27  1 24 14 32 11 38 54 29 44 59  3 18 67 22 33  5  2 72 16  8 23
 50 17 68 25 71 46 48 61 37 65 49 64 21 10  6 51 47 52 35 45  4 60 28 39
 30 55 58 26 43 56 36 13 70 69 41 15 19 31 34 66 40  7 53 63 42  0 57 62
 20]
=============================================
Column: PhoneService - Unique Values: ['Yes' 'No']
=============================================
Column: MultipleLines - Unique Values: ['Yes' 'No']
=============================================
Column: InternetService - Unique Values: ['Fiber optic' 'No' 'DSL']
=============================================
Column: OnlineSecurity - Unique Values: ['No' 'Yes']
=============================================
Column: OnlineBackup - Unique Values: ['No' 'Yes']
=============================================
Column: DeviceProtection - Unique Values: ['No' 'Yes']
=============================================
Column: TechSupport - Unique Values: ['No' 'Yes']
=============================================
Column: StreamingTV - Unique Values: ['Yes' 'No']
=============================================
Column: StreamingMovies - Unique Values: ['No' 'Yes']
=============================================
Column: Contract - Unique Values: ['Month-to-month' 'One year' 'Two year']
=============================================
Column: PaperlessBilling - Unique Values: ['Yes' 'No']
=============================================
Column: PaymentMethod - Unique Values: ['Electronic check' 'Mailed check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
=============================================
Column: MonthlyCharges - Unique Values: [ 84.45  20.4   81.7   79.5   89.15  20.3   74.95  74.4   20.    25.
  80.45  19.75  65.65  71.    89.2   86.75  55.3   61.5   25.1   55.15
  34.05  19.95  89.7   26.3   84.95  20.7   43.25  48.35  79.55  71.05
  19.45 110.8   84.5   69.3   49.35  20.35 105.6   64.45 108.6   49.9
  30.3   30.4   45.4  103.3   84.15  44.45  85.4   89.9   55.05 104.1
 106.6   75.2   70.5   19.6   55.85  24.05  38.1  106.4   34.25 100.05
  68.65  45.8   75.75  84.4   96.4   20.55  50.95  90.5   79.4   58.75
  59.45 105.7   56.25  53.3   85.55  24.3   77.85  59.9   23.95  20.15
 105.35  95.65  87.05  81.    82.45  53.5   20.5   54.4   58.6   84.8
  61.4   79.65  94.45  79.8   54.2   74.05  49.15  19.4  113.65 106.
  25.95  19.1  103.4  100.55  95.4   75.15 107.9   19.5   85.95  24.95
  59.4   69.95  82.85  19.    38.85  30.6   95.    78.45  74.3   51.05
  19.2   99.55  70.   109.1   45.3   29.85  76.45  95.1   19.8   72.8
  18.95  76.65  99.15 101.75  75.45  64.1   25.65  75.1   95.85  72.75
  19.85  19.05  44.95  49.55  94.85  46.25  19.35  69.6   90.7  101.4
  20.25  48.8   74.35  68.75 100.2   20.85  95.9   45.    81.5   25.5
  48.9   84.1   81.3   95.2   36.45  83.3   25.05  89.85  49.85  54.65
  29.35  19.15  55.55  80.55  69.5  104.3   79.6   55.25  88.05 117.6
  19.65  70.55  93.85  65.8   20.05  80.    35.4   80.25  50.45  20.45
  24.7   77.3   29.75  44.9   29.8   74.65  71.95  20.75  56.3  105.25
  94.2   19.55  53.65  29.9   19.7   43.7   49.45 106.55  20.1   39.7
  54.5   83.8  111.6   86.65 106.75  62.1  104.5  101.8  110.6   84.9
  93.2   24.4   85.    87.45  85.8   91.1   70.75  74.8   24.8  100.85
 101.35  68.25 105.1   79.15  57.2   94.8  102.5   69.2   95.45 100.95
  88.5   35.    64.    69.1   80.2   49.3   84.35 117.2  103.45  77.95
 109.95  94.75  25.2   19.9   44.8   80.05 107.35  47.85  70.8   29.5
  59.1   25.55  75.55  85.65  70.15  95.3   70.25  50.3   97.8   46.3
 106.3   75.35  89.4   88.    83.15  43.8   62.05  74.15  84.05  20.9
 105.9   99.5   44.15  53.9   85.45  85.05  44.1   90.2   50.85  59.2
  53.45  83.2   54.9   57.5  103.9   93.8   89.25  94.15  55.6   48.7
  19.25 104.9   54.85  19.3   79.85  75.5   73.75  96.05  68.4   20.65
  70.6  107.6   61.55  99.25  91.7  100.7   84.3   88.95  86.8   20.95
  50.7   53.4  101.9   59.5   87.8   41.9   83.    69.85 109.55  92.15
  97.    58.35  50.6   89.5   70.4   69.8   94.3   95.95 101.05 107.75
  54.6   71.3   94.7  104.15  90.55  60.8   98.8   98.15  35.35 103.15
  81.4   61.45  95.7  104.8   70.95  97.65  35.65  85.25  88.8   55.7
  85.2   91.15  83.85  45.9   91.4   91.5   51.3   21.1  104.75 106.15
  85.75 100.75  78.55  77.8   83.45  73.25  90.1   29.2   46.6   85.35
  54.   104.25  84.75  75.25  24.6   55.5   43.3  109.5   84.85 112.1
  95.05  50.35  74.6   74.2   69.   105.2  109.2   45.15 108.65  40.65
  55.35  90.05  68.05  96.2  102.1   23.4   92.2   43.9   80.5   89.8
  90.45  50.75  84.6   89.65  51.7   23.3   65.4   65.1   81.2   72.9
  74.5   60.3   75.    90.15  40.    99.45  69.05  59.7   86.25  45.65
  70.1   40.75  70.2   84.2   66.15  45.85  49.8  103.95 100.15  99.65
  73.7   50.05  60.25 105.75  87.3   54.25  85.3   50.    90.95  72.25
  96.1   25.15  71.25 113.8   24.55  50.15 100.5   74.45  81.9   69.7
  25.35  24.65  25.25  60.    24.1  109.9   35.5   87.55  88.4   50.8
  99.    96.55  59.75 111.5   24.25  30.55 101.   100.    98.05  71.15
  54.15  63.9   69.15  64.65 108.75  98.85  89.6   83.25  24.5   73.
  80.4   78.5  102.    48.95  18.25  54.55  89.05  96.6   77.15  35.05
 108.1   20.2   49.2   71.65 106.5   94.25  68.95  58.5   78.9   79.2
 109.45  29.15  76.05  24.45  66.5   89.35  73.6   82.65  49.    80.35
  25.45  55.8  110.9   77.75  26.2   79.05  80.85  98.4   56.35  50.4
 109.75  91.25  54.75  81.45  49.1  100.3   65.25  94.1   73.55 104.65
  44.55  54.45 105.    88.7   74.25  30.75 112.9   94.05  78.85  78.65
  74.75 105.65  96.5   70.85  73.9   45.45 109.65  65.   114.1   86.95
 105.45  25.4  102.55  24.    25.6   73.5   98.25 101.55 103.1   34.2
  43.75 111.95 100.65  55.95 116.05  45.75  82.    65.15  88.85 106.85
  80.15 109.25  56.1  118.6   24.15 115.5  111.3   80.6   20.8   35.2
  78.8   89.95  49.4  115.25  81.25  93.55  86.4   66.3   94.65  82.05
  72.1   34.7  109.4   40.25  42.9   44.    88.9   57.65 108.05 105.3
 102.6   73.85  61.35  57.55  29.25  84.55 111.75 107.7   63.7   24.75
  50.9   60.4   79.25 110.1   25.3   24.35  76.5   81.15  38.5   92.9
  93.5   84.7   66.   101.5   74.9   99.75  67.8   25.7   56.15  86.7
  50.55  54.35  45.35  59.    69.45  64.95  18.85 114.3   45.05  51.
 110.45  84.65  60.05  44.65  93.25  20.6   34.8   60.75  51.35  64.05
  94.6  100.25  98.9   97.7   40.3   46.2   24.9   65.7   63.35  50.1
  74.    38.9   65.45  98.7   99.35  95.8   67.5   78.15  26.1   78.05
  40.35  68.9   76.    82.3   29.45  59.15  44.75  90.8  106.7   67.95
  77.4   99.7   78.95  95.55  62.85  71.55  94.95  86.1   39.3   36.25
  23.9   98.6  103.65  99.9   39.85  60.5  103.85  24.85  89.    55.
  76.15 117.35  45.2   89.75  49.95  67.05  87.95  75.7   62.15 101.25
 115.15  86.55  28.6   56.4   73.3   98.65  33.6   79.9  104.05  70.05
  23.05  59.95  78.6  116.8   43.55  65.2  102.95  90.6  108.2   92.
 112.2   70.3   75.85  80.65  68.5  115.75  59.55  36.1   94.    61.15
 110.2  106.35  65.9   52.5   88.75  75.3   26.    99.4   73.15  66.4
 115.55 104.45  92.4   25.75  49.6   97.05 105.95  91.85  40.1  110.3
  85.15  60.95  46.    58.55  86.35  69.75  65.6   82.1   79.1   90.65
 110.    67.45  89.1   69.9   51.1   94.4   78.25  76.4   48.65  59.85
  80.3   91.8   18.8   64.75  89.45  85.6   54.1   80.9   90.85  48.75
  79.7  100.4   57.95  86.5   62.45  89.55  83.55  71.45  46.35  66.1
  75.4   70.45  21.05  69.35  40.55  75.65  60.6  101.15  98.   104.7
  93.9   86.45  98.5   78.2   88.45  69.55  83.75  98.1   53.35  69.4
  40.15  70.35  53.85 115.6   97.95  78.3   96.8   77.35  66.05  68.15
  92.45  45.55  93.4   88.15  79.35  79.75 105.15  79.3  105.5   92.7
  26.25  96.95 115.8   67.75  90.35  55.75 114.6   66.8  104.85  74.1
 118.75  85.9  101.3   21.2   24.2  102.8   99.95 115.85  35.1   99.1
  67.25  55.1  117.8   45.25  95.35 116.6   65.05  92.5   18.75  93.6
 104.4   70.7  108.95  26.45  86.2   51.2   75.8   36.15  61.2   99.85
  58.4   88.3  108.9  107.4  106.65 104.35  55.45  61.3   96.85 108.25
 105.05  66.9  110.7   38.25  54.95  79.    39.1  100.45  39.55  23.15
  72.45  60.1   91.55  35.8  113.15  53.95  99.3   51.55  78.75  54.7
  71.1  106.25 114.05 116.15  66.25  99.8   90.    54.05  97.25  83.05
  41.1   74.55  40.2   78.35 109.7   33.45  39.4   76.25  46.4   59.6
 108.5   58.95  63.05  64.4   83.9  117.45  59.05  76.55  62.5   29.4
  94.9  111.65 106.05 113.45  92.55  49.7   30.2   85.7   74.7  107.55
  23.85  76.1   39.2   39.15  59.8   49.75  35.75  60.15  84.   110.75
  76.35  18.9   98.35  91.65  44.35  47.95  63.6   53.    36.85 103.75
  56.75  59.65  45.5  106.45  30.05  44.7 ]
=============================================
Column: TotalCharges - Unique Values: [1059.55 181.8 2212.55 ... 552.95 7053.35 301.55]
=============================================

### i. Removing 'automatic' from Payment Method names

In [32]:
# Remove 'automatic' from payment method names in the train dataset
train_df['PaymentMethod'] = train_df['PaymentMethod'].str.replace(' (automatic)', '', regex=False)

# Unique elements of the 'PaymentMethod' column after the modification 
train_df['PaymentMethod'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer', 'Credit card'],
      dtype=object)

In [33]:
# Remove 'automatic' from payment method names in the test dataset
test_df['PaymentMethod'] = test_df['PaymentMethod'].str.replace(' (automatic)', '', regex=False)

# Unique elements of the 'PaymentMethod' column after the modification 
test_df['PaymentMethod'].unique()

array(['Electronic check', 'Mailed check', 'Credit card', 'Bank transfer'],
      dtype=object)

### ii. Transforming the 'TotalCharges' column into a numeric data type

In [34]:
# Transform the 'TotalCharges' column in the train dataset into a numeric data type
train_df['TotalCharges'] = pd.to_numeric(train_df['TotalCharges'], errors='coerce')

#confirm the datatype
train_df['TotalCharges'].dtype

dtype('float64')

In [35]:
# Check for null values the column
train_df['TotalCharges'].isnull().sum()

8

In [36]:
# Null observations of the column
train_df[train_df['TotalCharges'].isnull()]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,No,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer,52.549999,NaN,False
753,Male,0,No,Yes,0,Yes,No,No,No,No,No,No,No,No,Two year,No,Mailed check,20.250000,NaN,False
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.849998,NaN,False
1082,Male,0,Yes,Yes,0,Yes,Yes,No,No,No,No,No,No,No,Two year,No,Mailed check,25.750000,NaN,False
1340,Female,0,Yes,Yes,0,No,No,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card,56.049999,NaN,False
218,Male,0,Yes,Yes,0,Yes,No,No,No,No,No,No,No,No,One year,Yes,Mailed check,19.700000,NaN,False
1670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.350000,NaN,False
1754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer,61.900000,NaN,False

In [37]:
# Transform the 'TotalCharges' column in the test dataset into a numeric data type
test_df['TotalCharges'] = pd.to_numeric(test_df['TotalCharges'], errors='coerce')

#confirm the datatype
test_df['TotalCharges'].dtype

dtype('float64')

In [38]:
# Check for null values the  column
test_df['TotalCharges'].isnull().sum()

3

In [39]:
# Null observations of the column
test_df[test_df['TotalCharges'].isnull()]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
331,Male,0,Yes,Yes,0,Yes,No,No,No,No,No,No,No,No,Two year,No,Mailed check,19.85,NaN
826,Male,0,Yes,Yes,0,Yes,Yes,No,No,No,No,No,No,No,Two year,No,Mailed check,25.35,NaN
1380,Female,0,Yes,Yes,0,Yes,No,No,No,No,No,No,No,No,Two year,No,Mailed check,20.00,NaN

The 'TotalCharges' column in both the train and test datasets has been transformed into a numeric data type (float64) using the pd.to_numeric() function. 

The train dataset has 8 null values, while the test dataset has 3 null values in the 'TotalCharges' column.

The null observations also have a tenure of 0 even though MontlyCharges is not null for these entries. This information appears to be contradictory so these observations should be dropped from the dataset

In [40]:
# Drop observations with null values in 'TotalCharges' column from train dataset
train_df = train_df.dropna(subset=['TotalCharges'])

In [41]:
# Drop observations with null values in 'TotalCharges' column from test dataset
test_df = test_df.dropna(subset=['TotalCharges'])